.header {
  max-width: 1414px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.seeAll {
  font-size: 14px;
  color: #ff006a;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 1338px) and (max-width: 1486px) {
  .header {
    max-width: none;
    width: 1300px;
  }
}

@media screen and (min-width: 1140px) and (max-width: 1338px) {
  .header {
    max-width: none;
    width: 1100px;
  }
}

@media screen and (min-width: 940px) and (max-width: 1140px) {
  .header {
    max-width: none;
    width: 900px;
  }
}

@media screen and (min-width: 750px) and (max-width: 940px) {
  .header {
    max-width: none;
    width: 700px;
  }
}

@media screen and (min-width: 350px) and (max-width: 750px) {
  .header {
    max-width: none;
    width: 400px;
  }
}
