@import "../../colorStyles/colors.module.scss";

.buttonStyles {
  display: inline-flex;
  width: 369px;
  height: 48px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #ea1563;
  border: none;
  color: $textPrimary;
  cursor: pointer;
}

.buttonStyles:hover:enabled {
  color: #ea1563;
  background-color: rgba(234, 21, 99, 0.1);
}

.buttonStyles:active:enabled {
  color: #ea1563;
  border: 1px solid #ea1563;
}

.buttonStyles:disabled {
  background-color: #717171;
  color: #fff;
}

.buttonStyles:hover:disabled {
  background-color: #ea1563;
  color: #fff;
}

.buttonStyles:active:disabled {
  color: #ea1563;
  background: none;
}

@media screen and (max-width: 768px) {
  .buttonStyles {
    width: 327px;
  }
}
