* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;


body {
  margin: 0;
  height: 100vh;
  background:
    radial-gradient(circle at center, #0A0C10 0%, transparent 90%),
    radial-gradient(circle at 0% 100%, #0A0C10 0%, transparent 95%),
    radial-gradient(circle at 100% 0%, #0A0C10 0%, transparent 95%),
    radial-gradient(circle at 20% 20%, rgba(165, 15, 70, 0.50) 0%, transparent 80%),
    radial-gradient(circle at 85% 90%, rgba(165, 15, 70, 0.50) 0%, transparent 80%);

  background-color: #000000;
  background-blend-mode: normal;
}
