.musicCard {
    padding: 30px 30px;
    background-color: #1C1921;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1384px;
    width: 100%;
    height: 56px;
    color: #FFFFFFCC;
    font-family: inter;
    border-radius: 12px;           
    background-color: #1C1921;
}

.musicCard:hover {
    border-radius: 12px;
    border: 1px solid rgba(165, 15, 70, 0.1);
    background: linear-gradient(90deg, rgba(10,1,4,0.85) 0%, rgba(168,10,99,1) 100%);
    backdrop-filter: blur(6px);
}

.musicCardDetails {
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0px 16px;
}

.musicName {
    font-size: 16px;
    line-height: 20px;
}

.artist {
    font-size: 14px;
    color: rgba(108, 96, 100, 0.80);
}

.duration {
    font-size: 16px;
    color: #6C6064
}

.controls {
    display: flex;
    align-items: center;
    gap: 12px;
}