@import '../container.scss';


.container {
    display: flex;
    align-items: center;
    border: none;
    padding: 0px 12px;
    border-radius: 40px;
    max-width: 308px;
    width: 100%;
    background-color: $inputBackroundColor;
}


.searchContainer {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 10px;
    background-color: $inputBackroundColor;
    border: none;
    outline: none;
    color: $inputPlacholderColor;
    width: 240px;
    height: 48px;
}


.searchContainer::placeholder {
    color: $inputPlacholderColor;
}